<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	<!--@ 		
		string asset_host = "http://asset." + args[_request]._host[1] + "." + args[_request]._host[0];
	-->		
		<link rel="stylesheet" href="<!--@= asset_host -->/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="<!--@= asset_host -->/css/blueprint/print.css" type="text/css" media="print">	
		<!--[if lt IE 8]><link rel="stylesheet" href="<!--@= asset_host -->/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
		<!--Overide all other css'-->
		<link rel="stylesheet" href="<!--@= asset_host -->/css/app.css" >
	
		<!--@
			foreach(string js_file, this->_js_includes)
			{
				this->insert("<script type='text/javascript' src='%s/js/%s'></script>", asset_host, js_file);
			}
			-->
		
			<title>kliknik | <!--@=this->_title--></title>
	</head>
	<body>	
		<div id="header-w">
			<div class="container">
				<div class="span-24" id="head-line">
				</div>
			</div>
		</div>
		<div id="main-menu-w">
			<div class="container">
				<div class="span-24" id="main-menu">
					<div class="span-4" id="logo">
						<h1><a href="/analytics/login"><img src="<!--@= asset_host -->/img/logo.png" alt="kliknik Just-in-time web analytics" /></a></h1>
					</div>
				</div>
			</div>	
		</div>
		<div id="page-w">
			<div class="container" id="page">
				<div class="span-24">
				<!--@
					this->applay_layout();
				-->
				</div>
			</div>
		</div>
		<div id="footer-w">
			<div class="container">
				<div class="span-24" id="footer">
					&copy;<!--@= args[_request]._timestamp.date().year() --> kliknik | Contact:
					<script type="text/javascript">eval(unescape('d%6fc%75%6de%6e%74%2e%77%72%69%74e%28%27%3Ca%20%68%72ef%3D%22%26%23109%3Ba%26%23105%3B%6c%26%23116%3B%26%23111%3B%3A%26%23100%3B%26%23101%3B%26%23118%3B%26%2364%3B%26%23107%3B%26%23108%3B%26%23105%3B%26%23107%3B%26%23110%3B%26%23105%3B%26%23107%3B%26%2346%3B%26%2399%3B%26%23111%3B%26%23109%3B%22%3Ede%76%40%6b%6c%69%6b%6e%69%6b%2ec%6f%6d%3C%2fa%3E%27%29%3B'));</script>
				</div>
			</div>
		</div>
	</body>
</html>
