<!--@
	include_js("jquery.js");
	include_js("jquery.flot.js");
	include_js("jquery.flot.crosshair.js");
	include_js("jquery.flot.stack.js");
	
	include_js("dashboard.js");
	
	
	_title = "Dashboard";
-->

<div class="span-24">

	<div class="span-24 same-height">
		<div class="span-18 window margin">
			<h2>Live Traffic</h2>
			
			<p>Traffic within last minute <span id="chart-legend" class="chart-legend"></span></p>
			<div id="trafic-live-chart" class="live-chart" style="height:180px;">
				
			</div>
			
			<p>Traffic within last hour <span id="chart1-legend" class="chart-legend"></span></p>
			<div id="trafic-live-chart1" class="live-chart" style="height:180px;">
				
			</div>
		</div>
		<div class="span-6 last">
			<div class="span-6 last window">
				<h2>Overview</h2>
				<p>Traffic Overview</p>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">visitors online</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span id="stat-hps" class="counter">0</span>
					<span class="title">page hits/sec</span>
				</div>
				<div class="stat-label">
					<span id="stat-nvps" class="counter">0</span>
					<span class="title">new visitors/sec</span>
				</div>
				<div class="stat-label">
					<span id="stat-rvps" class="counter">0</span>
					<span class="title">returning visitors/sec</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter" id="stat-hpm">0</span>
					<span class="title">page hits/min</span>
				</div>
				<div class="stat-label">
					<span id="stat-nvpm" class="counter">0</span>
					<span class="title">new visitors/min</span>
				</div>
				<div class="stat-label">
					<span id="stat-rvpm" class="counter">0</span>
					<span class="title">returning visitors/min</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">visits today</span>
				</div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">new visitors today</span>
				</div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">unique visitors today</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">total page hists</span>
				</div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">total visits</span>
				</div>
				<div class="stat-label">
					<span class="counter">0</span>
					<span class="title">absolute unique visitors</span>
				</div>
				
				
			</div>
		</div>
	</div>
	
	<div class="span-24 same-height">
	<div class="span-5 window margin">
		<h2>Top Countries</h2>
		<p>Top 10 Countries by
			number of visitors in a last hour.</p>
		<ol>
			<li>United States (512)</li>
			<li>France (256)</li>
			<li>Germany (128)</li>
			<li>Serbia (54)</li>
			<li>Croatia (32)</li>
			<li>Slovenia (10)</li>
			<li>Russia (9)</li>
			<li>Greece (3)</li>
			<li>Canada (1)</li>
			<li>Turkey (1)</li>
		</ol>
	</div>
	<div class="span-19 last window" style="height:400px;">
		<h2>Live Map</h2>
		<img src="/img/world.png" height="369" />
	</div> 
	</div>
	
	<div class="span-24">
	<div class="span-8 window margin">
		<h2>Top Pages</h2>
	</div>
	<div class="span-8 window margin">
		<h2>Top Links</h2>
	</div>
	<div class="span-8 last window">
		<h2>Top Search Queries</h2>
	</div>
	</div>
</div>