<!--@
	include_js("jquery.js");
	include_js("dashboard.js");
	_title = "Dashboard";
-->

<div class="span-24">

	<div class="span-24">
	<div class="span-18 window">
		<h2>Live Traffic</h2>
		<p>Hits per second in the last two minutes.</p>
		<canvas id="trafic-live-chart" height="200px" width="686px"></canvas>
	</div>
	<div class="span-6 last">
	<div class="span-6 last window">
		<h2>Site Chooser</h2>
	</div>
	<div class="span-6 last window">
		<h2>Traffic Overview</h2>
		<div class="stat-label">
			<span class="counter">7</span>
			<span class="title">hits/sec</span>
		</div>
		<div class="stat-label">
			<span class="counter">7</span>
			<span class="title">hits/sec<br />avergae in last hour</span>
		</div>
		<div class="stat-label">
			<span class="counter">123</span>
			<span class="title">visitors online</span>
		</div>
	</div>
	</div>
	</div>
	
	<div class="span-24">
	<div class="span-5 window">
		<h2>Countries List</h2>
		<p>Top 10 Countries by
			number of visitors in a last hour.</p>
		<ol>
			<li>United States (512)</li>
			<li>France (256)</li>
			<li>Germany (128)</li>
			<li>Serbia (54)</li>
			<li>Croatia (32)</li>
			<li>Slovenia (10)</li>
			<li>Russia (9)</li>
			<li>Greece (3)</li>
			<li>Canada (1)</li>
			<li>Turkey (1)</li>
		</ol>
	</div>
	<div class="span-19 last window">
		<h2>Live Map</h2>
		<img src="/img/world.png" />
	</div> 
	</div>
	
	<div class="span-24">
	<div class="span-8 window">
		<h2>Top Pages</h2>
	</div>
	<div class="span-8 window">
		<h2>Top Links</h2>
	</div>
	<div class="span-8 last window">
		<h2>Top Search Queries</h2>
	</div>
	</div>
</div>