<!--@HEADER@
param: active
param: time
param: user
-->

<!--@
	#ifdef DEBUG
	include_js("jquery.js");
	include_js("jquery.flot.js");
	include_js("jquery.flot.stack.js");
	include_js("date.js");
	include_js("tooltip.js");
	
	include_js("dashboard.js");
	#else
	include_js("jquery.common.v" + string(JS_VERSION) + ".js");
	include_js("dashboard.v" + string(JS_VERSION) + ".min.js");
	#endif
	
	_title = "Dashboard";
-->
<div class="span-20 prepend-4">
	<a href="#" id="page1" class="sub-menu">Live Traffic</a>
	<a href="#" id="page2" class="sub-menu">Live Map</a>
	<a href="#" id="page3" class="sub-menu">Live Content</a>
	<!--
	<a href="#" class="sub-menu">Live Events</a>
	<a href="#" class="sub-menu">Live Funnells</a>-->
</div>

<div class="span-24" id="page-win">
	
	
	<div id="pages">
	<div class="page" id="page-1">
	
	<div class="span-24 same-height">
		<div class="span-18"><div class="window">
			<h2>Live Traffic</h2>
			
			<p><span id="chart-legend" class="chart-legend"></span> Traffic within last minute </p>
			<div id="trafic-live-chart" class="live-chart" style="height:100px;"></div>
			
			<p><span id="chart1-legend" class="chart-legend"></span> Traffic within last hour </p>
			<div id="trafic-live-chart1" class="live-chart" style="height:100px;"></div>
			
			<p><span id="chart2-legend" class="chart-legend"></span> Traffic within last 24 hours </p>
			<div id="trafic-live-chart2" class="live-chart" style="height:100px;"></div>
			
		</div></div>
		<div class="span-6 last">
			<div class="span-6 last"><div class="window">
				<h2>Overview</h2>
				<p>Traffic Overview</p>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span id="stat-hps" class="counter">0</span>
					<span class="title">page hits/sec</span>
				</div>
				<div class="stat-label alt">
					<span id="stat-nvps" class="counter">0</span>
					<span class="title">new visitors/sec</span>
				</div>
				<div class="stat-label">
					<span id="stat-rvps" class="counter">0</span>
					<span class="title">returning visitors/sec</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter" id="stat-hpm">0</span>
					<span class="title">page hits/min</span>
				</div>
				<div class="stat-label alt">
					<span id="stat-nvpm" class="counter">0</span>
					<span class="title">new visitors/min</span>
				</div>
				<div class="stat-label">
					<span id="stat-rvpm" class="counter">0</span>
					<span class="title">returning visitors/min</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span class="counter" id="stat-hph">0</span>
					<span class="title">page hits/hour</span>
				</div>
				<div class="stat-label alt">
					<span id="stat-nvph" class="counter">0</span>
					<span class="title">new visitors/hour</span>
				</div>
				<div class="stat-label">
					<span id="stat-rvph" class="counter">0</span>
					<span class="title">returning visitors/hour</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span id="stat-vtd" class="counter">0</span>
					<span class="title">visits today</span>
				</div>
				<div class="stat-label alt">
					<span id="stat-nvtd" class="counter">0</span>
					<span class="title">new visitors today</span>
				</div>
				<div class="stat-label">
					<span id="stat-uvtd" class="counter">0</span>
					<span class="title">unique visitors today</span>
				</div>
				
				<div class="stat-sep"></div>
				<div class="stat-label">
					<span id="stat-tph" class="counter">0</span>
					<span class="title">total page hists</span>
				</div>
				<div class="stat-label alt">
					<span id="stat-tvs" class="counter">0</span>
					<span class="title">total visits</span>
				</div>
				<div class="stat-label">
					<span id="stat-uvs" class="counter">0</span>
					<span class="title">absolute unique visitors</span>
				</div>
				
				
			</div></div>
		</div>
	</div>
	</div><!--end page1-->
	
	<div class="page" id="page2">
	
	<div class="span-24 same-height">
	<div class="span-6"><div class="window">
		<h2>Top Countries</h2>
		<p>Top 10 Countries by
		number of visitors within last 24 hours.</p>
		
		<div id="countries-list">
		  <div class="stat-sep"></div>
		  <div class="stat-label">
		    <span class="title">There is no any data.</span>
		    <span class="counter"></span>
		  </div>
		</div>
	</div></div>
	<div class="span-18 last" style="height:440px;">
		<div class="window">
			<h2>Live Map</h2>
			<div id="visitors-map"><img src="/img/world.png" height="349" /></div>
			<div id="visitors-list"><ul></ul></div>
		</div>
	</div> 
	</div>
	
	</div><!--end page2-->
	
	<div class="page" id="page3">
	
	<div class="span-24 same-height">
	<div class="span-8"><div class="window">
		<h2>Top Pages</h2>
		<p>10 most popular Pages by
		number of hits within last 24 hours.</p>
		
		<div id="pages-list">
		  <div class="stat-sep"></div>
		  <div class="stat-label">
		    <span class="title">There is no any data.</span>
		    <span class="counter"></span>
		  </div>
		</div>
	</div></div>
	<div class="span-8"><div class="window">
		<h2>Top Referrers</h2>
		
		<p>10 best Referrers by
		number of visits within last 24 hours.</p>
		
		<div id="referrers-list">
		  <div class="stat-sep"></div>
		  <div class="stat-label">
		    <span class="title">There is no any data.</span>
		    <span class="counter"></span>
		  </div>
		</div>
	</div></div>
	<div class="span-8 last"><div class="window">
		<h2>Top Search Queries</h2>
		
		<p>10 most popular Search Queries
		within last 24 hours.</p>
		
		<div id="queries-list">
		  <div class="stat-sep"></div>
		  <div class="stat-label">
		    <span class="title">There is no any data.</span>
		    <span class="counter"></span>
		  </div>
		</div>
	</div></div>
	</div>
	
	</div><!--end page3-->
	
	</div><!--end pages-->
</div>
