<!--@HEADER@
use-layout: true
layout: Login
-->

<div class="span-24">

	<div class="span-16">
	  <div class="span-16">
	    <div class="window">
	      <h2>Login</h2>
	      
	      <form method="post" action="/app/session/new" id="login-form">
	        <fieldset>
			<legend>Enter your email address and password</legend>
	      		<label>Email:<br />
	      			<input type="text" name="email" /></label><br />
			<label>Password:<br />
				<input type="password" name="password" /></label><br />
			<input type="submit" value="Login" />
		</fieldset>
	      </form>
	    </div>
	    <div class="text">
	    	<p>kliknik is <span class="underline">just-in-time</span> web analytics service. You do not have to wait hours or even days to
		get your site's data. Analyze your traffic minute by minute, second by second ... Right as it happens!</p>
	    </div>
	  </div>
	</div>
	
	<div class="span-8 last">
		<div class="window">
		  <h2>Sign Up</h2>
		  
		  <p>Please enter your data and click on a "Sign Up" to create new user account, and start tracking your site data.</p>
		  <form method="post" action="/app/login/new" id="signup-form">
		  	<fieldset>
			  <label>Email:<br />
			  	<input type="text" name="email" /></label><br />
			  <label>Password:<br />
			  	<input type="password" name="password" /></label><br />
			  <label>Repeat password:<br />
			  	<input type="password" name="repeat_password" /></label><br /><br /><br />
			  <label>Website URL:<br />
			  	<input type="text" name="url" value="http://" /></label><br />
			  
			  <label>Timezone:<br />
			  <select name="timezone">
			    <option>GMT+0</option>
			    <option>GMT+1</option>
			  </select></label><br />
			  
			  <input type="submit" value="Sign Up" />
			</fieldset>
		  </form>
		</div>
	</div>
</div>
