<!--@HEADER@
param: user
-->
<!--@
	#ifdef DEBUG
	include_js("debug/jquery.js");
	include_js("debug/jquery.flot.js");
	include_js("debug/jquery.flot.crosshair.js");
	include_js("debug/jquery.flot.stack.js");
	include_js("debug/jquery.validate.js");
	include_js("debug/jquery.table-pagination.js");
	
	include_js("debug/datepicker.js");	
	include_js("debug/date.js");
	
	include_js("debug/chart.js");
	include_js("debug/common.js");
	include_js("debug/account.js");
	
	include_js("debug/referrers.js");
	#else
	include_js("jquery.common.v" + string(JS_VERSION) + ".min.js");
	include_js("referrers.v" + string(JS_VERSION) + ".min.js");
	#endif
	
	_title = "Referrers";	
-->

<div class="span-24">
	
	<div class="span-24 same-height">
		<div class="span-10"><div class="window inline">
			<span class="h2">
			Referrers: <span id="report-name">All Traffic</span>
			</span>
			<p id="report-chooser">Reports:&nbsp;<em> 
				<a href="#" class="active" report_type="-1">All Traffic</a>,&nbsp;
				<a href="#" class="active" report_type="2">Direct</a>,&nbsp;
				<a href="#" class="active" report_type="3">Search Engines</a>,&nbsp;
				<a href="#" class="active" report_type="4">Referred</a></em></p>
		</div></div>
		<div class="span-14 last right"><div class="window inline">
			<div id='daterange-picker-placeholder'></div>
		</div></div>
	</div>
	
	<div class="span-24"><div class="window">
		<h2>Referrers</h2>
		
		<p> <span id="chart-legend" class="chart-legend"></span></p>
		<div id="report-chart" class="chart" style="height:240px;"></div>
	</div></div>
	<div class="span-24 same-height">
		<div class="span-7"><div class="window">
			<h2>Overview</h2>
			
			<div class="stat-sep"></div>
			<div class="stat-label">
				<span id="stat-vs" class="counter">0</span>
				<span class="title">visits</span>
			</div>
			<div class="stat-label alt">
				<span id="stat-vspd" class="counter">0</span>
				<span class="title">visits/day</span>
			</div>
			<!--
			<div class="stat-label">
				<span id="stat-auv" class="counter">0</span>
				<span class="title">absolute unique visitors</span>
			</div>-->
			<div class="stat-label">
				<span id="stat-nv" class="counter">0</span>
				<span class="title">new visitors</span>
			</div>
			<div class="stat-label alt">
				<span id="stat-nvpd" class="counter">0</span>
				<span class="title">new visitors/day</span>
			</div>
		</div></div>
		
		<div class="span-17 last"><div class="window" >
		 	<h2>Referrers List</h2>
				<div id="referrers-segments"></div>
		</div></div>
	</div>
</div>


