<!--@HEADER@
use-layout: true
layout: Login
param: request
param: token
param: err_msg
-->

<!--@
	int err_msg = args[_err_msg|0];
	
	#ifdef DEBUG
 	include_js("debug/jquery.js");
 	include_js("debug/jquery.validate.js");
 	include_js("debug/reset.js");
	#else
	include_js("jquery.common.v" + string(JS_VERSION) + ".min.js");
	include_js("reset.v" + string(JS_VERSION) + ".min.js");
	#endif
	
	_title = "Reset Password";
-->

<div class="span-24">

	<div class="prepend-4 span-16 append-4">
		<div class="span-16">
	   		<div class="window">
	     			<h2>Reset Password</h2>
						
	      			<form method="post" id="reset-form">
							<!--@
								
								if(err_msg == 1)
								{
									this->insert("<span class='form-error'>%s</span>", "Passwords do not match!");
								}
								if(err_msg == 2)
								{
									this->insert("<span class='form-error'>%s</span>", "URL is bad or expired!");
								}
							-->
								<fieldset>							
									<label for="password">Password:</label><br />
										<input type="password" id="password-field" name="password" class="text required" minlength="6" autocomplete="off" /><br />							
									<br />
									<label for="repeat_password">Repeat password:</label><br />
										<input type="password" name="repeat_password" equalTo="#password-field" autocomplete="off" class="text" /><br /><br /
									<input type="hidden" name="t" value="<!--@= args[_token|""]-->" />
									
									<input type="submit" value="Reset Password" />
								</fieldset>	
	      			</form>							
			</div>
		</div>
	</div>
</div>
