<!--@
	include_js("jquery.js");
	include_js("jquery.flot.js");
	include_js("jquery.flot.crosshair.js");
	include_js("jquery.flot.stack.js");
	
	include_js("chart.js");
	include_js("visitors.js");
	
	_title = "Visitors";	
-->

<div class="span-24">
	
	<div class="span-24 same-height">
		<div class="span-10"><div class="window inline">
			<span class="h2">
			Visits
			</span>
			<p>Other reports: <a href="#">Visitors</a> <a href="#">New Visitors</a> <a href="#">Returning Visitors</a>
				<a href="#">Repeating Visitors</a> <a href="#">Operating Systems</a></p>
		</div></div>
		<div class="span-14 last right"><div class="window inline">
			<form id="date-range-selector-form">
		
			<div>
			<span class="h3">Date range:&nbsp;</span>
			<input type="text" value="01/01/2008 - 01/01/2010" name="range" id="date-range-selector-input"/>&nbsp;
		     	<input type="submit" class="date-range-selector-submit" value="Refresh" id="date-range-selector-submit"/>
			</div>
			
			<span class="date-range-predefined-selectors">
				<a href="#">Select range</a> | <a href="#">Last 7 days</a> | <a href="#">Last 30 days</a>
			</span>
			
			</form>
		</div></div>
	</div>
	
	<div class="span-24"><div class="window">
		<h2>Visits</h2>
		
		<p>Visits per day <span id="chart-legend" class="chart-legend"></span></p>
		<div id="visitors-chart" class="chart" style="height:240px;"></div>
	</div></div>
	<div class="span-24 same-height">
	
		<div class="span-6"><div class="window">
			<h2>Visitors overview</h2>
			<p>
			<ul>
			        <li>Visitors per day 0</li>
				<li>New visitors 0</li>
				<li>Absolute unique vistiors 0</li>
				<li>Visits per day 0</li>
				<li>Visits 0</li>
			</ul>
			</p>
		</div></div>
		
		<div class="span-18 last"><div class="window">
		 	<h2>Visitors List</h2>
			<p>
				By country | <a href="#">By operating system</a> | <a href="#">By browser</a> 
		</div></div>
	</div>
</div>


