*
{
	margin: 0;
	padding: 0;
}
html
{
	font-size: 62.5%;
}
body
{
	background-image: url(/img/head.png);
	background-repeat: repeat-x;
	background-color: #000;
	color: #fff;
	font-family: Verdana, sans-serif;
}
a, a:hover, a:visited
{
	color: #66f;	
}
p
{
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 1.5em;
}
ul, ol, span
{
	font-size: 1.2em;
}
h1
{
	font-size: 3.6em;
	margin: 0;
	padding: 0;
}
h2
{
	font-size: 3.6em;
}
h3
{
	font-size: 2.4em;
}
#header-w
{
	height: 7px;
}
#head-line
{
	position: relative;
}

.clock
{
	padding: 0 5px 5px 5px;
	width: 320px;
	height: 10px;
	background-color: #FF9900;
	position: absolute;
	left: 630px;
	top:0;
	z-index: 1000;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
}
.clock > span.timestamp
{
	font-weight: bold;
	font-size: 2.4em;
}
.clock > span.location
{
	font-size: 1.8em;
}
#logo h1
{
	margin: 5px 0 0 0;
}
#logo h1 a, #logo h1 a:hover, #logo h1 a:visited
{
	
	text-decoration: none;
	color: #000;
}
#logo > p
{
	margin: 0;
	padding: 0;
	
}
#site-selector
{
	margin: 8px 0 0 0;
	height: 25px;
}
#main-menu
{
	//background-color: #7297BA;
}
#main-menu-w
{
	height: 53px;
	//background-color: #7297BA;
	//background-color: #CFD6DE;
	//border-bottom: 5px solid #FF542E;
	//border-top: 3px solid #ADC1D6;
}

#main-menu > ul
{
	display: block;
	height: 52px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#main-menu li
{
	margin: 7px 0 0 0 ;
	//background-color: #ADC1D6;
	background-color: #CFD6DE;
	display: block;
	float: left;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top: 2px solid #ADC1D6;
	border-right: 2px solid #ADC1D6;
	border-left: 2px solid #ADC1D6;
	
}
#main-menu li.active
{
	margin: 3px 1px 0 0 ;
	border-color: #CFD6DE;
	background-color: #7297BA;
}
#main-menu li.active > a
{
	font-size: 3.2em;
	height: 42px;
	color: #fff;
	width: 164px;
}
#main-menu li > a
{
	padding: 4px 0 0 12px;
	display: block;
	width: 156px;
	height: 38px;
	color: #000;
	font-size: 2.8em;
	text-decoration: none;
}
span.menu-item
{
	font-size: 2.4em;
	margin: 5px 8px 0 0;
	
	display: block;
	float: left;	
}
span.menu-item a, span.menu-item a:hover, span.menu-item a:visited
{
	color: #fff;
	text-decoration: none;
	padding: 3px 5px;
}
span.menu-item a:hover, span.menu-item a.active
{
	color: #fff;
	background-color: #CFD6DE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
#page-w
{
	padding: 0 0 20px 0;
	background-color: #333;
	background-image: url(/img/stripe_vert.png);
	background-repeat: repeat-x;
}
a.sub-menu
{
	display: block;
	float: left;
	background-color: #FF542E;
	color: #fff;
	font-size: 1.4em;
	padding: 0 15px 0 15px;
	margin: 0;
}
div.window
{
	margin-top: 7px;
	color: #333;
	background-color: #fff;
	border: 2px solid #FF542E;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.window.inline
{
	background-color: #fff;
	border: none;
	padding: 10px;
}
div.window span.h2
{
	margin: 12px 8px 0 8px;
}
div.window p
{
	margin: 8px;
	font-size: 1.4em;
	color: #333;
}
div.window ol
{
	font-size: 1.8em;
}
div.window > h2
{
	padding-left: 5px;
	font-size: 1.8em;
	background-color: #FF542E;
	color: #fff;
}
div.window > h3
{
	padding: 10px;
}

div.stat-label
{
	background-color: #fff;
	
	//background-image: url(/img/arr.gif);
	//background-repeat: no-repeat;
	//background-position: 8px 7px; 
	border-bottom: 1px solid #CFD6DE;
	margin: 0 10px;
	padding: 2px 5px;
	text-align: left;
	//padding-left: 25px;
}
div.stat-sep
{
	height: 3px;
	background-color: #FF542E;
	margin: 3px 10px 0 10px;
	
}

div.stat-label:hover
{
	background-color: #fff;
	cursor: pointer;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
div.stat-label:hover > span.counter
{
	color: #333;
}
div.stat-label:hover > span.title
{
	color: #333;
}

span.counter
{
	font-size: 1.8em;
	font-weight: bold;
	color: #333;
}
span.title
{
	padding: 0 5px;
	font-size: 1.4em;
	color: #333;
}
div.absolute
{
	position: absolute;
}
div.relative
{
	position: relative;
}
.live-chart
{
	margin: 0 15px 10px 20px;
	clear: both;	
}
.chart-legend
{
	display: block;
	float: right;	
	width: 400px;
}
.chart
{
	margin: 0 5px 5px 20px;
	clear: both;
}
span
{
	font-size: 1.2em;
}
span.small
{
	font-size: 0.9em;
}

span.h2, span.h3
{
	font-size: 2.4em;
}

span.date-range-predefined-selectors
{

}
#date-range-selector-input
{
	
	padding: 5px 5px 5px 35px;
	font-size: 2.6em;
	width: 260px;
	border: none;
	background-color: #CFD6DE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	vertical-align: middle;
	color: #fff;
}
#date-range-selector-submit
{
	padding: 5px;
	font-size: 1.8em;
	margin: 0;
	vertical-align: middle;
}

.right
{
	text-align: right;
}
#date-range-selector-form
{
	margin: 0;
	padding: 0;
}
#date-range-selector-form span.h2, #date-range-selector-form span.h3
{
	vertical-align: middle;
}

#footer
{
	padding: 10px 0 30px 0;
	font-size: 1.2em;
}
#footer-w
{
	color: #fff;
	background-color: #333;
	border-top: 1px solid #FF542E;
}
#footer a, #footer a:hover, #footer a:visited
{
	color: #fff;
}
.tickLabel
{
	font-size: 1.4em;
}
.page
{
	float: left;
	margin-right: 10px;
}
#page-win
{
	clear: both;
	width: 960px;
	overflow: hidden;
	position: relative;
	height: 500px;
}
#pages
{
	
	width: 3400px;
	position: absolute;

}
